.p-topic-panel{
  height: 150px;
  overflow-y: scroll;
  padding: 20px;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 50px;
  background: linear-gradient(#fff, #eee);
  box-sizing: border-box;
  border: 1px solid #707070;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  &__link{
    display:block;
    margin-bottom: 13px;
    padding: 5px 0;
    &:first-child{
      border-bottom: 1px solid;
    }
    &:hover{
      background: linear-gradient($sogo-color,$tamaki-color);
    }
    &__item{
      padding-bottom: 15px;
    }
  }
  &__text{
    margin-left: 10px;
    }

}
