/* ==========================================================================
   Layout
   ========================================================================== */
/* Footer
   ----------------------------------------------------------------- */
#footer{
  height: 60px;
  background: #0B0B0B;
  color: #fff;
  text-align: center;
  line-height: 60px;
}
